<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other traffic to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
